.Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #8474a1;
    padding: 2rem;
}

.Home a {
  color: #8474a1;
  font-weight: bold;
}